@import "../../node_modules/bulma/bulma.sass"
@import "../../node_modules/bulma-carousel/src/sass/index.sass"
@import url('https://fonts.googleapis.com/css?family=Lato|Nunito|Poppins&display=swap')

*
  font-family: 'Lato', sans-serif
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  font-family: 'Poppins', sans-serif

label
  font-family: 'Nunito', sans-serif

.font-nunito
  font-family: 'Nunito', sans-serif

.font-poppins
  font-family: 'Poppins', sans-serif

.font-lato
  font-family: 'Lato', sans-serif

.font-12
  font-size: 12px

.font-15
  font-size: 15px

.font-18
  font-size: 18px

.font-20
  font-size: 20px

.font-25
  font-size: 25px

.font-30
  font-size: 30px

.font-35
  font-size: 35px

.text-center
  text-align: center

.color-white
  color: white

.color-primary
  color: #01a3a4

.color-secondary
  color: rgb(65, 195, 213)

.color-dark-grey
  color: #d1d1d1

.color-grey
  color: rgb(242, 242, 242)

.bg-primary
  background-color: #01a3a4

.bg-secondary
  background-color: rgb(65, 195, 213)

.bg-grey
  background-color: rgb(242, 242, 242)

.bg-white-bone
  background-color: #fafafa

.bg-dark
  background-color: #575757 !important

.align-self-center
  align-self: center !important

.align-items-center
  align-items: center

.object-cover
  object-fit: cover

.p-relative
  position: relative

.p-absolute
  position: absolute

.m-auto
  margin: auto

.m-h-10
  margin-left: 10px
  margin-right: 10px

.m-h-15
  margin-left: 15px
  margin-right: 15px

.m-h-20
  margin-left: 20px
  margin-right: 20px

.m-v-5
  margin-top: 5px
  margin-bottom: 5px

.m-v-10
  margin-top: 10px
  margin-bottom: 10px

.m-v-15
  margin-top: 15px
  margin-bottom: 15px

.m-v-20
  margin-top: 20px
  margin-bottom: 20px

.m-b-0
  margin-bottom: 0 !important

.m-b-10
  margin-bottom: 10px

.m-b-15
  margin-bottom: 15px

.m-b-20
  margin-bottom: 20px

.m-b-30
  margin-bottom: 30px

.m-b-50
  margin-bottom: 50px

.m-t-0
  margin-top: 0 !important

.m-t-10
  margin-top: 10px

.m-t-15
  margin-top: 15px

.m-t-20
  margin-top: 20px

.p-h-10
  padding-left: 10px
  padding-right: 10px

.p-h-15
  padding-left: 15px
  padding-right: 15px

.p-h-20
  padding-left: 20px
  padding-right: 20px

.p-h-30
  padding-left: 30px
  padding-right: 30px

.p-v-10
  padding-top: 10px
  padding-bottom: 10px

.p-v-15
  padding-top: 15px
  padding-bottom: 15px

.p-v-20
  padding-top: 20px
  padding-bottom: 20px

.p-b-0
  padding-bottom: 0 !important

.p-b-10
  padding-bottom: 10px

.p-b-15
  padding-bottom: 15px

.p-b-20
  padding-bottom: 20px

.lh-0
  line-height: 0 !important

.lh-1
  line-height: 1 !important

.lh-1-5
  line-height: 1.5 !important

.w-50
  width: 50%

.w-75
  width: 75%

.w-100
  width: 100%

.h-25px
  height: 25px !important

.h-30px
  height: 30px !important

.h-40px
  height: 40px !important

.h-50px
  height: 50px !important

.h-75px
  height: 75px !important

.h-80px
  height: 80px !important

.h-100px
  height: 100px

.h-150px
  height: 150px

.h-175px
  height: 175px

.h-200px
  height: 200px

.h-300px
  height: 300px

.h-350px
  height: 350px

.h-400px
  height: 400px

.circle-img-50
  height: 50px !important
  width: 50px !important
  border-radius: 50%

.circle-img-100
  height: 100px !important
  width: 100px !important
  border-radius: 50%
